body {
    height: 100vh;
    background-image: url(360_F_328147880_8L3ku1gBMK1nlzb4A6uUHKC6T9ZT4MX3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.navbar .logo {
    font-size: 2.1rem;
    font-weight: 600;
}

.navbar .logo span {
    color: chocolate;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0% 20px;
}

.hero-section .content {
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero-section .content h1 {
    font-size: 3rem;
    min-width: 600px;
}

.hero-section .content p {
    font-size: 1.5rem; 
    min-width: 15px;
    min-width: 600px;
}

.hero-section .content button {
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500; 
    margin-top: 10px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease; 
}

.hero-section .content button:hover {
    background: orange;
    color: #fff;
}

@media screen and (max-width: 900px) {
  
}
